@model IEnumerable<AppDevGroupCoursework.DTO.DVDTitleDTO>

@{
    ViewData["Title"] = "GetDVDSNotOnLoanFor31Days";
}

<h1>Get DVDs Not On Loan For last 31 Days</h1>

<table class="table table-bordered table-striped" style="width-100%">
    <thead>
        <tr>
            <th>
                TItle
            </th>
            <th>
                Released Date
            </th>
            <th>
                Category
            </th>
            <th>
                Studio Name
            </th>
            <th>
                Producer Name
            </th>
            <th>
                Age Restrictions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.releasedDate
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.SudioName
                </td>
                <td>
                    @item.ProducerName
                </td>
                <td>
                    @item.AgeRestriction
                </td>
            </tr>          
        }
    </tbody>
</table>